* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 1rem 1rem;
}

/*Header section*/

header {
    align-items: center;
    background-image: url(image-folder/image1.jpeg);
}

header h1 {
    font-size: 5.2rem;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

/*Content*/

.content {
    display: flex;
    flex-direction: column;
}

.content h2 {
    font-size: 2.1rem;
    font-weight: bold;
    color: white;
    width: 100%;
    margin: 1.2rem auto;
}

.content h2:first-child {
    background-color: mediumspringgreen;
    margin-top: 3.5rem;
}

.content h2:nth-child(3) {
    background-color: lightcoral;
}

.content h2:nth-child(5) {
    background-color: skyblue;
}

.content .content-image h3 {
    margin: 1.2rem auto;
}

span {
    font-weight: bold;
    color: blue;
}

